In [1]:
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata/

fatal: destination path 'yemoonsaBigdata' already exists and is not an empty directory.

작업형 제 1유형

(1) 다음은 California Housing 데이터 세트이다. 데이터 중 결측치가 있는 경우 해당 데이터의 행을 모두 제거하고, 첫 번째 행부터 순서대로 70%까지의 데이터를 훈련 데이터로 추출한 데이터 세트를 구성한다. 변수 중 'housing_median_age'의 Q1(제1사분위수) 값을 정수로 계산하시오.

In [2]:
import pandas as pd

housing = pd.read_csv('./yemoonsaBigdata/datasets/Part3/301_housing.csv')
print(housing.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB
None

In [3]:
housing_dropna = housing.dropna(inplace=False)
print('원본 데이터 :',len(housing))
print('결측값 제거 데이터 :', len(housing_dropna))

원본 데이터 : 20640
결측값 제거 데이터 : 20433

In [4]:
housing_dropna_70 = housing_dropna.iloc[: int(len(housing_dropna) * 0.7)]
print("70% 데이터 추출 : ", len(housing_dropna_70))

70% 데이터 추출 :  14303

In [5]:
result = int( housing_dropna_70['housing_median_age'].quantile([0.25]))
print(result)

19

(2) 다음은 국가별 연도별 인구 10만 명당 결핵 유병률 데이터 세트이다. 2000년도의 국가별 결핵 유병률 데이터 세트에서 2000년도의 평균값보다 더 큰 유병률 값을 가진 국가의 수를 계산하시오.

In [6]:
import pandas as pd

disease = pd.read_csv('./yemoonsaBigdata/datasets/Part3/302_worlddata.csv')
print(disease.head(5))

   year  Afghanistan  Albania  Algeria  Andorra  Angola  Antigua & Barbuda  \
0  1999            0     89.0     25.0    245.0   217.0              102.0
1  2000            0    132.0      0.0    138.0    57.0              128.0
2  2001            0     54.0     14.0    312.0    45.0               45.0
3  2002            0      4.9      0.7     12.4     5.9                4.9

   Argentina  Armenia  Australia  ...  Tanzania    USA  Uruguay  Uzbekistan  \
0      193.0     21.0      261.0  ...      36.0  249.0    115.0        25.0
1       25.0    179.0       72.0  ...       6.0  158.0     35.0       101.0
2      221.0     11.0      212.0  ...       1.0   84.0    220.0         8.0
3        8.3      3.8       10.4  ...       5.7    8.7      6.6         2.4

   Vanuatu  Venezuela  Vietnam  Yemen  Zambia  Zimbabwe
0     21.0      333.0      111    6.0    32.0      64.0
1     18.0      100.0        2    0.0    19.0      18.0
2     11.0        3.0        1    0.0     4.0       4.0
3      0.9        7.7        2    0.1     2.5       4.7

[4 rows x 194 columns]

In [7]:
disease_2000 = disease[disease['year'] == 2000]
print(disease_2000)

   year  Afghanistan  Albania  Algeria  Andorra  Angola  Antigua & Barbuda  \
1  2000            0    132.0      0.0    138.0    57.0              128.0

   Argentina  Armenia  Australia  ...  Tanzania    USA  Uruguay  Uzbekistan  \
1       25.0    179.0       72.0  ...       6.0  158.0     35.0       101.0

   Vanuatu  Venezuela  Vietnam  Yemen  Zambia  Zimbabwe
1     18.0      100.0        2    0.0    19.0      18.0

[1 rows x 194 columns]

In [8]:
disease_2000_T = disease_2000.T
disease_2000_T_drop = disease_2000_T.drop(['year'], axis=0)
disease_2000_T_drop.columns=['value']

print(disease_2000_T_drop)

             value
Afghanistan    0.0
Albania      132.0
Algeria        0.0
Andorra      138.0
Angola        57.0
...            ...
Venezuela    100.0
Vietnam        2.0
Yemen          0.0
Zambia        19.0
Zimbabwe      18.0

[193 rows x 1 columns]

In [9]:
mean = disease_2000_T_drop['value'].mean()
print(mean)

81.01036269430051

In [10]:
disease_final = disease_2000_T_drop[disease_2000_T_drop['value']  > mean]
print(disease_final)

                      value
Albania               132.0
Andorra               138.0
Antigua & Barbuda     128.0
Armenia               179.0
Bahamas               176.0
...                     ...
United Arab Emirates  135.0
United Kingdom        126.0
USA                   158.0
Uzbekistan            101.0
Venezuela             100.0

[76 rows x 1 columns]

(3) 다음은 Titanic 데이터 세트이다. 주어진 데이터 세트의 컬럼 중 빈 값 또는 결측치를 확인하여, 결측치의 비율이 가장 높은 변수명을 출력하시오.

In [11]:
import pandas as pd

titanic = pd.read_csv('./yemoonsaBigdata/datasets/Part3/303_titanic.csv')
print(titanic.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        773 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [12]:
titanic_isna = titanic.isna().sum()
print(titanic_isna)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          118
Embarked         2
dtype: int64

In [13]:
max_ind = titanic_isna.argmax()
print(max_ind)

5

In [14]:
result = titanic_isna.index[max_ind]
print(result)

Age

3. 작업형 제2유형

다음은 Travel Insurance 데이터 세트이다. 주어진 훈련 데이터 세트를 이용하여 고객별 여행보험 가입 여부 예측 모형을 만들고, 가장 높은 Accuracy 값을 가지는 최종 모델을 도출하시오. 해당 모델을 활용하여 보험 가입 여부 예측값을 계산하고 결괏값은 csv 파일로 제출하시오.

In [15]:
import pandas as pd

df_train = pd.read_csv('./yemoonsaBigdata/datasets/Part3/304_travel_Insurance_train.csv')
df_test = pd.read_csv('./yemoonsaBigdata/datasets/Part3/304_travel_Insurance_test.csv')
print(df_train.head(5))

     ID  Age               Employment Type GraduateOrNot  AnnualIncome  \
0  1704   26  Private Sector/Self Employed           Yes       1400000
1   491   28  Private Sector/Self Employed           Yes       1100000
2   414   33  Private Sector/Self Employed           Yes       1400000
3   120   28  Private Sector/Self Employed           Yes        800000
4  1268   33             Government Sector           Yes       1000000

   FamilyMembers  ChronicDiseases FrequentFlyer EverTravelledAbroad  \
0              3                1            No                 Yes
1              4                1            No                  No
2              4                0            No                 Yes
3              3                1            No                  No
4              5                0            No                 Yes

   TravelInsurance
0                0
1                1
2                1
3                0
4                1

In [16]:
x_train = df_train.drop(columns='TravelInsurance')
y_train = df_train[['ID', 'TravelInsurance']]

x_test = df_test.copy()

x_train.to_csv('./yemoonsaBigdata/datasets/Part3/304_x_train.csv', index=False)
x_test.to_csv('./yemoonsaBigdata/datasets/Part3/304_x_test.csv', index=False)
y_train.to_csv('./yemoonsaBigdata/datasets/Part3/304_y_train.csv', index=False)

x_train = pd.read_csv('./yemoonsaBigdata/datasets/Part3/304_x_train.csv')
x_test = pd.read_csv('./yemoonsaBigdata/datasets/Part3/304_x_test.csv')
y_train = pd.read_csv('./yemoonsaBigdata/datasets/Part3/304_y_train.csv')

print(x_train.shape, x_test.shape, y_train.shape)

(1490, 9) (497, 9) (1490, 2)

In [17]:
df_x = pd.concat([x_train, x_test])
print(df_x.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1987 entries, 0 to 496
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   1987 non-null   int64
 1   Age                  1987 non-null   int64
 2   Employment Type      1987 non-null   object
 3   GraduateOrNot        1987 non-null   object
 4   AnnualIncome         1987 non-null   int64
 5   FamilyMembers        1987 non-null   int64
 6   ChronicDiseases      1987 non-null   int64
 7   FrequentFlyer        1987 non-null   object
 8   EverTravelledAbroad  1987 non-null   object
dtypes: int64(5), object(4)
memory usage: 155.2+ KB
None

In [18]:
obj_cols = ['Employment Type', 'GraduateOrNot','FrequentFlyer','EverTravelledAbroad']

for i in obj_cols:
    print(df_x[i].value_counts(),'\n')

Private Sector/Self Employed    1417
Government Sector                570
Name: Employment Type, dtype: int64

Yes    1692
No      295
Name: GraduateOrNot, dtype: int64

No     1570
Yes     417
Name: FrequentFlyer, dtype: int64

No     1607
Yes     380
Name: EverTravelledAbroad, dtype: int64

In [19]:
print(y_train['TravelInsurance'].value_counts())

0    950
1    540
Name: TravelInsurance, dtype: int64

In [20]:
df_le = df_x.copy()
df_le['Employment Type'] = df_x['Employment Type'].replace(['Private Sector/Self Employed',
                                                            'Government Sector'], [0,1])
df_le['GraduateOrNot'] = df_x['GraduateOrNot'].replace(['No','Yes'],[0,1])
df_le['FrequentFlyer'] = df_x['FrequentFlyer'].replace(['No','Yes'],[0,1])
df_le['EverTravelledAbroad'] = df_x['EverTravelledAbroad'].replace(['No','Yes'],[0,1])

print(df_le.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1987 entries, 0 to 496
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   1987 non-null   int64
 1   Age                  1987 non-null   int64
 2   Employment Type      1987 non-null   int64
 3   GraduateOrNot        1987 non-null   int64
 4   AnnualIncome         1987 non-null   int64
 5   FamilyMembers        1987 non-null   int64
 6   ChronicDiseases      1987 non-null   int64
 7   FrequentFlyer        1987 non-null   int64
 8   EverTravelledAbroad  1987 non-null   int64
dtypes: int64(9)
memory usage: 155.2 KB
None

In [40]:
from sklearn.metrics import roc_auc_score

def get_scores(model, xtrain, xtest, ytrain, ytest):
    A = model.score(xtrain, ytrain)
    ypred = model.predict_proba(xtest)[:,1]
    B = roc_auc_score(ytest,ypred)
    return '{:.4f} {:.4f}'.format(A,B)

In [41]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier


def make_models(xtrain, xtest, ytrain, ytest):
    model1 = LogisticRegression().fit(xtrain, ytrain)
    print('model1', get_scores(model1, xtrain, xtest, ytrain, ytest))

    model2 = DecisionTreeClassifier(random_state=0).fit(xtrain, ytrain)
    print('model2', get_scores(model2, xtrain, xtest, ytrain, ytest))

    for d in range(3, 8):
        model2 = DecisionTreeClassifier(max_depth=d, random_state=0).fit(xtrain, ytrain)
        print('model2', d, get_scores(model2, xtrain, xtest, ytrain, ytest))

    model3 = RandomForestClassifier(random_state=0).fit(xtrain, ytrain)
    print('model3', get_scores(model3, xtrain, xtest, ytrain, ytest))

    for d in range(3, 8):
        model3 = RandomForestClassifier(500, max_depth=d, random_state=0).fit(xtrain, ytrain)
        print('model3', d, get_scores(model3, xtrain, xtest, ytrain, ytest))

    model4 = XGBClassifier(eval_metric='logloss', use_label_encoder=False).fit(xtrain, ytrain)
    print('model4', get_scores(model4, xtrain, xtest, ytrain, ytest))

In [42]:
from sklearn.preprocessing import MinMaxScaler

x_le = df_le.drop(columns=['ID'])

x_le_train = x_le[:1490]
x_le_test = x_le[1490:]

scaler = MinMaxScaler()
scaler.fit(x_le_train)
x_fin_train = scaler.transform(x_le_train)
x_fin_test = scaler.transform(x_le_test)

y_fin_train = y_train['TravelInsurance']

print(type(x_fin_train), type(x_fin_test), type(y_fin_train))
print(x_fin_train.shape, x_fin_test.shape, y_fin_train.shape)

<class 'numpy.ndarray'> <class 'numpy.ndarray'> <class 'pandas.core.series.Series'>
(1490, 8) (497, 8) (1490,)

In [43]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x_fin_train, y_fin_train, test_size=0.25, 
                                                stratify = y_fin_train)

print(xtrain.shape, xtest.shape, ytrain.shape, ytest.shape)

(1117, 8) (373, 8) (1117,) (373,)

In [44]:
make_models(xtrain,xtest,ytrain,ytest)

model1 0.7708 0.7789
model2 0.9409 0.7876
model2 3 0.8397 0.8074
model2 4 0.8397 0.8204
model2 5 0.8451 0.8209
model2 6 0.8505 0.8239
model2 7 0.8523 0.8419
model3 0.9409 0.8182
model3 3 0.7959 0.8112
model3 4 0.8236 0.8075
model3 5 0.8424 0.8033
model3 6 0.8478 0.8094
model3 7 0.8505 0.8177
model4 0.9167 0.8205

In [45]:
final_model = DecisionTreeClassifier(max_depth=4).fit(xtrain,ytrain)
print('final_model', get_scores(final_model, xtrain,xtest,ytrain,ytest))

final_model 0.8397 0.8204

In [47]:
y_pred = final_model.predict_proba(x_fin_test)[:,1]

result = pd.DataFrame({'y_pred' : y_pred})
result.to_csv('./yemoonsaBigdata/res/Insurance_y_pred.csv')