In [2]:
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata/

fatal: destination path 'yemoonsaBigdata' already exists and is not an empty directory.

2. 작업형 제1유형

(1) 다음은 Boston Housing 데이터 세트이다. 범죄율 컬럼인 Crim 항목의 상위에서 10번째 값(즉, 범죄율을 큰 순서로 오름차순 정렬했을 때 10번째에 위치한 값)으로 상위 10개의 값을 변환한 후, age가 80 이상인 데이터를 추출하여 crim의 평균값을 계산하시오.

In [6]:
import pandas as pd

boston = pd.read_csv("./yemoonsaBigdata/datasets/Part3/201_boston.csv")
print(boston.head(5))

      CRIM    ZN  INDUS  CHAS    NOX     RM   AGE     DIS  RAD    TAX  \
0  0.00632  18.0   2.31   0.0  0.538  6.575  65.2  4.0900  1.0  296.0
1  0.02731   0.0   7.07   0.0  0.469  6.421  78.9  4.9671  2.0  242.0
2  0.02729   0.0   7.07   0.0  0.469  7.185  61.1  4.9671  2.0  242.0
3  0.03237   0.0   2.18   0.0  0.458  6.998  45.8  6.0622  3.0  222.0
4  0.06905   0.0   2.18   0.0  0.458  7.147  54.2  6.0622  3.0  222.0

   PTRATIO       B  LSTAT
0     15.3  396.90   4.98
1     17.8  396.90   9.14
2     17.8  392.83   4.03
3     18.7  394.63   2.94
4     18.7  396.90   5.33

In [9]:
boston_sort = boston.sort_values('CRIM', ascending=False)
print(boston_sort.head(10))

        CRIM   ZN  INDUS  CHAS    NOX     RM    AGE     DIS   RAD    TAX  \
380  88.9762  0.0   18.1   0.0  0.671  6.968   91.9  1.4165  24.0  666.0
418  73.5341  0.0   18.1   0.0  0.679  5.957  100.0  1.8026  24.0  666.0
405  67.9208  0.0   18.1   0.0  0.693  5.683  100.0  1.4254  24.0  666.0
410  51.1358  0.0   18.1   0.0  0.597  5.757  100.0  1.4130  24.0  666.0
414  45.7461  0.0   18.1   0.0  0.693  4.519  100.0  1.6582  24.0  666.0
404  41.5292  0.0   18.1   0.0  0.693  5.531   85.4  1.6074  24.0  666.0
398  38.3518  0.0   18.1   0.0  0.693  5.453  100.0  1.4896  24.0  666.0
427  37.6619  0.0   18.1   0.0  0.679  6.202   78.7  1.8629  24.0  666.0
413  28.6558  0.0   18.1   0.0  0.597  5.155  100.0  1.5894  24.0  666.0
417  25.9406  0.0   18.1   0.0  0.679  5.304   89.1  1.6475  24.0  666.0

     PTRATIO       B  LSTAT
380     20.2  396.90  17.21
418     20.2   16.45  20.62
405     20.2  384.97  22.98
410     20.2    2.60  10.11
414     20.2   88.27  36.98
404     20.2  329.46  27.38
398     20.2  396.90  30.59
427     20.2   18.82  14.52
413     20.2  210.97  20.08
417     20.2  127.36  26.64

In [12]:
crim10_value = boston_sort.iloc[9,0]
print(crim10_value)

25.9406

In [16]:
boston_sort.iloc[:9,0] = crim10_value

boston_sort_80 = boston_sort[boston_sort['AGE'] >=80]
result = boston_sort_80['CRIM'].mean()
print(result)

5.759386624999999

(2) 다음은 California Housing 데이터 세트이다. 주어진 데이터의 첫 번쨰 행부터 순서대로 80%까지의 데이터를 훈련 데이터로 추출 후, 전체 방 개수 컬럼을 의미하는 'total bedrooms' 변수의 결측치를 'total_bedrooms' 변수의 중앙값으로 대체한 데이터 세트를 구성합니다. 결측치 대체 전의 'total_bedrooms' 변수 표준편차 값과 결측치 대체 후의 'total_bedrooms' 변수 표준편차 값의 차이에 대한 절댓값을 계산하시오.

In [24]:
import pandas as pd

housing = pd.read_csv('./yemoonsaBigdata/datasets/Part3/202_housing.csv')
print(housing.head(5))

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                41.0        880.0           129.0
1    -122.22     37.86                21.0       7099.0          1106.0
2    -122.24     37.85                52.0       1467.0           190.0
3    -122.25     37.85                52.0       1274.0           235.0
4    -122.25     37.85                52.0       1627.0           280.0

   population  households  median_income  median_house_value ocean_proximity
0       322.0       126.0         8.3252            452600.0        NEAR BAY
1      2401.0      1138.0         8.3014            358500.0        NEAR BAY
2       496.0       177.0         7.2574            352100.0        NEAR BAY
3       558.0       219.0         5.6431            341300.0        NEAR BAY
4       565.0       259.0         3.8462            342200.0        NEAR BAY

In [25]:
value = int(len(housing) * 0.8)
bedrooms = housing['total_bedrooms'][:value]

print(bedrooms)

0         129.0
1        1106.0
2         190.0
3         235.0
4         280.0
          ...
16507     599.0
16508     331.0
16509     411.0
16510     941.0
16511     417.0
Name: total_bedrooms, Length: 16512, dtype: float64

In [28]:
std1 = bedrooms.std()
med = bedrooms.median()

bedrooms_fill = bedrooms.fillna(med)
std2 = bedrooms_fill.std()

print(abs(std1 - std2))

1.975147291645726

(3) 2번 문항에서 활용한 California Housing 데이터 세트를 그대로 활용한다. 인구 컬럼인 population 항목의 이상값의 합계를 계산하시오. (* 이상값은 평균에서 1.5x표준편차를 초과하거나 미만인 값의 범위로 정한다.)

In [29]:
import pandas as pd

housing = pd.read_csv('./yemoonsaBigdata/datasets/Part3/202_housing.csv')
print(housing.head(5))

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                41.0        880.0           129.0
1    -122.22     37.86                21.0       7099.0          1106.0
2    -122.24     37.85                52.0       1467.0           190.0
3    -122.25     37.85                52.0       1274.0           235.0
4    -122.25     37.85                52.0       1627.0           280.0

   population  households  median_income  median_house_value ocean_proximity
0       322.0       126.0         8.3252            452600.0        NEAR BAY
1      2401.0      1138.0         8.3014            358500.0        NEAR BAY
2       496.0       177.0         7.2574            352100.0        NEAR BAY
3       558.0       219.0         5.6431            341300.0        NEAR BAY
4       565.0       259.0         3.8462            342200.0        NEAR BAY

In [31]:
mean = housing['population'].mean()
std = housing['population'].std()

lower = mean - std * 1.5
upper = mean + std * 1.5

outlier = housing[ (housing['population'] < lower) | (housing['population'] > upper)]
print(outlier['population'].sum())

5607295.0

3. 작업형 제2유형

다음은 E-commerce Shipping 데이터 세트이다. 주어진 훈련 데이터 세트를 활용하여 고객이 주문한 물품의 정시 도착 여부를 예측하고 해당 예측 결과를 csv 파일로 제출하시오.

In [32]:
import pandas as pd

df = pd.read_csv("./yemoonsaBigdata/datasets/Part3/204_ecommerce.csv")
print(df.head(10))

   ID Warehouse_block Mode_of_Shipment  Customer_care_calls  Customer_rating  \
0   1               D           Flight                    4                2
1   2               F           Flight                    4                5
2   3               A           Flight                    2                2
3   4               B           Flight                    3                3
4   5               C           Flight                    2                2
5   6               F           Flight                    3                1
6   7               D           Flight                    3                4
7   8               F           Flight                    4                1
8   9               A           Flight                    3                4
9  10               B           Flight                    3                2

   Cost_of_the_Product  Prior_purchases Product_importance Gender  \
0                  177                3                low      F
1                  216                2                low      M
2                  183                4                low      M
3                  176                4             medium      M
4                  184                3             medium      F
5                  162                3             medium      F
6                  250                3                low      F
7                  233                2                low      F
8                  150                3                low      F
9                  164                3             medium      F

   Discount_offered  Weight_in_gms  Reached.on.Time_Y.N
0                44           1233                    1
1                59           3088                    1
2                48           3374                    1
3                10           1177                    1
4                46           2484                    1
5                12           1417                    1
6                 3           2371                    1
7                48           2804                    1
8                11           1861                    1
9                29           1187                    1

In [35]:
from sklearn.model_selection import train_test_split

x_train, x_test = train_test_split(df, test_size=0.3, stratify=df['Reached.on.Time_Y.N'])

y_train = x_train[['ID','Reached.on.Time_Y.N']]
x_train = x_train.drop(columns='Reached.on.Time_Y.N')

y_test = x_test[['ID', 'Reached.on.Time_Y.N']]
x_test = x_test.drop(columns='Reached.on.Time_Y.N')

x_train.to_csv('./yemoonsaBigdata/datasets/Part3/204_x_train.csv', index=False)
x_test.to_csv('./yemoonsaBigdata/datasets/Part3/204_x_test.csv', index=False)
y_train.to_csv('./yemoonsaBigdata/datasets/Part3/204_y_train.csv', index=False)

x_train = pd.read_csv('./yemoonsaBigdata/datasets/Part3/204_x_train.csv')
x_test = pd.read_csv('./yemoonsaBigdata/datasets/Part3/204_x_test.csv')
y_train = pd.read_csv('./yemoonsaBigdata/datasets/Part3/204_y_train.csv')

print(x_train.shape, x_test.shape, y_train.shape)

(7699, 11) (3300, 11) (7699, 2)

In [36]:
df_x = pd.concat([x_train, x_test])
print(df_x.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10999 entries, 0 to 3299
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   10999 non-null  int64
 1   Warehouse_block      10999 non-null  object
 2   Mode_of_Shipment     10999 non-null  object
 3   Customer_care_calls  10999 non-null  int64
 4   Customer_rating      10999 non-null  int64
 5   Cost_of_the_Product  10999 non-null  int64
 6   Prior_purchases      10999 non-null  int64
 7   Product_importance   10999 non-null  object
 8   Gender               10999 non-null  object
 9   Discount_offered     10999 non-null  int64
 10  Weight_in_gms        10999 non-null  int64
dtypes: int64(7), object(4)
memory usage: 1.0+ MB
None

In [42]:
df_le = df_x.copy()

df_le['Gender'] = df_x['Gender'].replace(['F','M'], [0,1])
df_le['Product_importance'] = df_x['Product_importance'].replace(['low','medium','high'], [0,1,2])
df_le['Mode_of_Shipment'] = df_x['Mode_of_Shipment'].replace(['Ship', 'Road', 'Flight'],[0,1,2])
df_le['Warehouse_block'] = df_x['Warehouse_block'].replace(['A','B','C','D','F'],[0,1,2,3,4])

print(df_le.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10999 entries, 0 to 3299
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   10999 non-null  int64
 1   Warehouse_block      10999 non-null  int64
 2   Mode_of_Shipment     10999 non-null  int64
 3   Customer_care_calls  10999 non-null  int64
 4   Customer_rating      10999 non-null  int64
 5   Cost_of_the_Product  10999 non-null  int64
 6   Prior_purchases      10999 non-null  int64
 7   Product_importance   10999 non-null  int64
 8   Gender               10999 non-null  int64
 9   Discount_offered     10999 non-null  int64
 10  Weight_in_gms        10999 non-null  int64
dtypes: int64(11)
memory usage: 1.0 MB
None

In [43]:
from sklearn.metrics import roc_auc_score

def get_scores(model, xtrain, xtest, ytrain, ytest):
    A = model.score(xtrain, ytrain)
    ypred = model.predict_proba(xtest)[:,1]
    B = roc_auc_score(ytest, ypred)
    return '{:.4f} {:.4f}'.format(A,B)

In [52]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

def make_models(xtrain, xtest, ytrain, ytest):
    model1 = LogisticRegression().fit(xtrain, ytrain)
    print('model1', get_scores(model1, xtrain, xtest, ytrain, ytest))

    model2 = DecisionTreeClassifier(random_state=0).fit(xtrain, ytrain)
    print('model2', get_scores(model2, xtrain, xtest, ytrain, ytest))

    for d in range(3, 8):
        model2 = DecisionTreeClassifier(max_depth=d,random_state=0).fit(xtrain, ytrain)
        print('model2', d, get_scores(model2, xtrain, xtest, ytrain, ytest))

    model3 = RandomForestClassifier(random_state=0).fit(xtrain, ytrain)
    print('model3', get_scores(model3, xtrain, xtest, ytrain, ytest))

    for d in range(3, 8):
        model3 = RandomForestClassifier(500, max_depth=d, random_state=0).fit(xtrain, ytrain)
        print('model3', d, get_scores(model3, xtrain, xtest, ytrain, ytest))

    model4 = XGBClassifier().fit(xtrain, ytrain)
    print('model4', get_scores(model4, xtrain, xtest, ytrain, ytest))

In [53]:
from sklearn.preprocessing import StandardScaler

x_le = df_le.drop(columns=['ID'])

x_le_train = x_le[:7699]
x_le_test = x_le[7699:]

scaler = StandardScaler()
scaler.fit(x_le_train)
x_fin_train = scaler.transform(x_le_train)
x_fin_test = scaler.transform(x_le_test)

y_fin_train = y_train['Reached.on.Time_Y.N']

print(type(x_fin_train), type(x_fin_test), type(y_fin_train))
print(x_fin_train.shape, x_fin_test.shape, y_fin_train.shape)

<class 'numpy.ndarray'> <class 'numpy.ndarray'> <class 'pandas.core.series.Series'>
(7699, 10) (3300, 10) (7699,)

In [54]:
from sklearn.model_selection import train_test_split

xtrain, xtest, ytrain, ytest = train_test_split(x_fin_train, y_fin_train, test_size=0.3,
                                               stratify = y_fin_train)
print(xtrain.shape, xtest.shape, ytrain.shape, ytest.shape)

(5389, 10) (2310, 10) (5389,) (2310,)

In [55]:
make_models(xtrain, xtest, ytrain, ytest)

model1 0.6419 0.7139
model2 1.0000 0.6309
model2 3 0.6799 0.7404
model2 4 0.6875 0.7436
model2 5 0.6920 0.7429
model2 6 0.6959 0.7449
model2 7 0.7059 0.7384
model3 1.0000 0.7347
model3 3 0.6792 0.7486
model3 4 0.6953 0.7471
model3 5 0.7105 0.7461
model3 6 0.7204 0.7466
model3 7 0.7434 0.7448
model4 0.9499 0.7264

In [56]:
final_model = DecisionTreeClassifier(max_depth=3).fit(xtrain,ytrain)
print('final model :',get_scores(final_model,xtrain, xtest, ytrain, ytest))

final model : 0.6799 0.7404

In [57]:
y_pred = final_model.predict_proba(x_fin_test)[:,1]

result = pd.DataFrame({'y_pred' : y_pred})
result.to_csv('./yemoonsaBigdata/res/ecommerce_y_pred.csv')