<a href="https://colab.research.google.com/github/Psubinn/BigData-Analyst/blob/main/A_to_Z_%EB%B9%85%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D_%EC%8B%A4%EC%8A%B52.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata

fatal: destination path 'yemoonsaBigdata' already exists and is not an empty directory.

2. 실습 A to Z : Penguins

(1) 사전 준비

In [2]:
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings('ignore')

In [3]:
X_test = pd.read_csv('./yemoonsaBigdata/datasets/Part2/penguin_X_test.csv')
X_train = pd.read_csv('./yemoonsaBigdata/datasets/Part2/penguin_X_train.csv')
y_train = pd.read_csv('./yemoonsaBigdata/datasets/Part2/penguin_y_train.csv')

(2) 데이터 전처리

In [4]:
print(X_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            240 non-null    object
 1   island             240 non-null    object
 2   sex                232 non-null    object
 3   bill_length_mm     238 non-null    float64
 4   bill_depth_mm      238 non-null    float64
 5   flipper_length_mm  238 non-null    float64
dtypes: float64(3), object(3)
memory usage: 11.4+ KB
None

In [5]:
train = pd.concat([X_train, y_train],axis=1)
print(train.loc[(train.sex.isna()) | (train.bill_length_mm.isna()) | (train.bill_depth_mm.isna()) | (train.flipper_length_mm.isna()) | (train.body_mass_g.isna())])

    species     island  sex  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0    Adelie  Torgersen  NaN            42.0           20.2              190.0
6    Gentoo     Biscoe  NaN            44.5           14.3              216.0
43   Gentoo     Biscoe  NaN             NaN            NaN                NaN
66   Adelie  Torgersen  NaN            37.8           17.3              180.0
88   Gentoo     Biscoe  NaN            47.3           13.8              216.0
89   Adelie  Torgersen  NaN            37.8           17.1              186.0
110  Gentoo     Biscoe  NaN            44.5           15.7              217.0
229  Adelie  Torgersen  NaN             NaN            NaN                NaN

     body_mass_g
0         4250.0
6         4100.0
43           NaN
66        3700.0
88        4725.0
89        3300.0
110       4875.0
229          NaN

In [6]:
train = train.dropna()
train.reset_index(drop=True, inplace=True)

In [7]:
X_train = train[['species','island','sex','bill_length_mm','bill_depth_mm','flipper_length_mm']]
y_train = train[['body_mass_g']]

In [8]:
print(X_train.describe())

       bill_length_mm  bill_depth_mm  flipper_length_mm
count      232.000000     232.000000         232.000000
mean        43.990948      17.226293         200.681034
std          5.509760       1.964677          14.064231
min         32.100000      13.200000         172.000000
25%         39.200000      15.700000         190.000000
50%         44.950000      17.350000         197.000000
75%         48.775000      18.725000         212.250000
max         58.000000      21.500000         231.000000

In [13]:
COL_DEL = []
COL_NUM = ['bill_length_mm','bill_depth_mm','flipper_length_mm']
COL_CAT = ['species','island','sex']
COL_Y = ['body_mass_g']

In [14]:
X = pd.concat([X_train, X_test])

from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(handle_unknown='ignore')
ohe.fit(X[COL_CAT])

X_train_res = ohe.transform(X_train[COL_CAT])
X_test_res = ohe.transform(X_test[COL_CAT])

In [15]:
print(X_train_res)

  (0, 2)	1.0
  (0, 3)	1.0
  (0, 6)	1.0
  (1, 0)	1.0
  (1, 5)	1.0
  (1, 7)	1.0
  (2, 1)	1.0
  (2, 4)	1.0
  (2, 7)	1.0
  (3, 2)	1.0
  (3, 3)	1.0
  (3, 7)	1.0
  (4, 0)	1.0
  (4, 4)	1.0
  (4, 6)	1.0
  (5, 2)	1.0
  (5, 3)	1.0
  (5, 7)	1.0
  (6, 2)	1.0
  (6, 3)	1.0
  (6, 6)	1.0
  (7, 0)	1.0
  (7, 5)	1.0
  (7, 6)	1.0
  (8, 2)	1.0
  :	:
  (223, 6)	1.0
  (224, 2)	1.0
  (224, 3)	1.0
  (224, 7)	1.0
  (225, 0)	1.0
  (225, 4)	1.0
  (225, 7)	1.0
  (226, 1)	1.0
  (226, 4)	1.0
  (226, 7)	1.0
  (227, 1)	1.0
  (227, 4)	1.0
  (227, 6)	1.0
  (228, 2)	1.0
  (228, 3)	1.0
  (228, 7)	1.0
  (229, 0)	1.0
  (229, 5)	1.0
  (229, 6)	1.0
  (230, 1)	1.0
  (230, 4)	1.0
  (230, 6)	1.0
  (231, 2)	1.0
  (231, 3)	1.0
  (231, 6)	1.0

In [16]:
# 데이터프레임으로 변경

X_train_ohe = pd.DataFrame(X_train_res.todense(), columns = ohe.get_feature_names())
X_test_ohe = pd.DataFrame(X_test_res.todense(), columns = ohe.get_feature_names())
print(X_train_ohe)

X_train_fin = pd.concat([X_train[COL_NUM], X_train_ohe], axis=1)
X_test_fin = pd.concat([X_test[COL_NUM], X_test_ohe], axis=1)

     x0_Adelie  x0_Chinstrap  x0_Gentoo  x1_Biscoe  x1_Dream  x1_Torgersen  \
0          0.0           0.0        1.0        1.0       0.0           0.0
1          1.0           0.0        0.0        0.0       0.0           1.0
2          0.0           1.0        0.0        0.0       1.0           0.0
3          0.0           0.0        1.0        1.0       0.0           0.0
4          1.0           0.0        0.0        0.0       1.0           0.0
..         ...           ...        ...        ...       ...           ...
227        0.0           1.0        0.0        0.0       1.0           0.0
228        0.0           0.0        1.0        1.0       0.0           0.0
229        1.0           0.0        0.0        0.0       0.0           1.0
230        0.0           1.0        0.0        0.0       1.0           0.0
231        0.0           0.0        1.0        1.0       0.0           0.0

     x2_FEMALE  x2_MALE
0          1.0      0.0
1          0.0      1.0
2          0.0      1.0
3          0.0      1.0
4          1.0      0.0
..         ...      ...
227        1.0      0.0
228        0.0      1.0
229        1.0      0.0
230        1.0      0.0
231        1.0      0.0

[232 rows x 8 columns]

(3) 데이터 모형 구축

In [17]:
from sklearn.model_selection import train_test_split
X_tr, X_val, y_tr, y_val = train_test_split(X_train_fin, y_train, test_size = 0.3)

In [18]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaler.fit(X_tr[COL_NUM])
X_tr[COL_NUM] = scaler.transform(X_tr[COL_NUM])
X_val[COL_NUM] = scaler.transform(X_val[COL_NUM])
X_test_fin[COL_NUM] = scaler.transform(X_test_fin[COL_NUM])

In [19]:
from sklearn.linear_model import LinearRegression

modelLR = LinearRegression()
modelLR.fit(X_tr, y_tr)

y_val_pred = modelLR.predict(X_val)
print(y_val_pred)

[[3490.26191915]
 [5310.26660198]
 [4289.38799035]
 [3338.98830332]
 [3400.540315  ]
 [3364.1769374 ]
 [3885.21539851]
 [3260.98906355]
 [4127.18267667]
 [3469.37065427]
 [4779.46128221]
 [4044.62110169]
 [3458.66115244]
 [3797.35064247]
 [4304.14824322]
 [4725.324198  ]
 [3337.55388495]
 [3270.72711057]
 [3806.33017465]
 [3364.568692  ]
 [5342.42467699]
 [4663.87603113]
 [3872.92186919]
 [3414.04347499]
 [4648.12270792]
 [4071.76576584]
 [3221.38681045]
 [3349.24759259]
 [4276.05477589]
 [3244.7952459 ]
 [3289.88028057]
 [3951.94920298]
 [3259.08824819]
 [3413.98571755]
 [4146.6539737 ]
 [4721.92163721]
 [5564.9600027 ]
 [4106.57209794]
 [4930.20829424]
 [4156.00604229]
 [3588.23752325]
 [4086.05366938]
 [4039.02332958]
 [5589.00686061]
 [4684.45571519]
 [5449.46060127]
 [4043.30916046]
 [3419.07603451]
 [4200.55087623]
 [4193.79009135]
 [4636.79687073]
 [4692.22205221]
 [4160.14911966]
 [3160.77658834]
 [4137.28826799]
 [5627.37262336]
 [3576.28563567]
 [3816.99396495]
 [3816.30084723]
 [3870.14535878]
 [3350.04534228]
 [3497.886027  ]
 [4390.1017607 ]
 [4255.8102443 ]
 [5477.82785895]
 [3386.82149155]
 [5738.17398677]
 [3277.56312681]
 [5524.14875299]
 [4155.07758502]]

In [21]:
print(modelLR.intercept_)

coef = pd.Series(data=modelLR.coef_[0], index = X_train_fin.columns)
print(coef.sort_values())

[3354.36287198]
x0_Chinstrap        -368.468121
x0_Adelie           -267.222051
x2_FEMALE           -223.643335
x1_Dream             -63.833033
x1_Torgersen         -40.518787
x1_Biscoe            104.351820
x2_MALE              223.643335
bill_depth_mm        336.515087
bill_length_mm       380.860684
x0_Gentoo            635.690173
flipper_length_mm    930.507966
dtype: float64

(4) 데이터 모형 평가

In [27]:
from sklearn.metrics import mean_squared_error, r2_score

mse = mean_squared_error(y_val, y_val_pred)
rmse = mean_squared_error(y_val, y_val_pred, squared=False)

print('MSE : {0:.3f} , RMSE : {1:.3F} '.format(mse , rmse))

MSE : 103533.020 , RMSE : 321.765

In [28]:
y_pred = modelLR.predict(X_test_fin)
print(y_pred)

[[4042.58749571]
 [5374.72583475]
 [4117.87010264]
 [3363.63207071]
 [4695.0304175 ]
 [3978.81840205]
 [3307.4816569 ]
 [3699.85791004]
 [3529.44078228]
 [3425.77090103]
 [3300.77072207]
 [5519.05922009]
 [3610.0008659 ]
 [4084.7703045 ]
 [3753.90596511]
 [4119.73350646]
 [4371.04558299]
 [3525.95736705]
 [3527.44588682]
 [3289.93751367]
 [5363.3141479 ]
 [4097.06622167]
 [5856.41390209]
 [4713.93788936]
 [5411.37924717]
 [5528.98249381]
 [5535.21141814]
 [4129.39923432]
 [3428.07558334]
 [3979.54092038]
 [4093.97940007]
 [3339.23295277]
 [3527.32631877]
 [4654.99568089]
 [3275.41776863]
 [3396.95543971]
 [3320.70390321]
 [3311.56012121]
 [3936.70657327]
 [4966.58467797]
 [3403.98721247]
 [5611.21304535]
 [4958.34099641]
 [4726.00424315]
 [5761.39447843]
 [3791.96141667]
 [4791.10014459]
 [3348.21055501]
 [5430.56050937]
 [4237.13170485]
 [4700.54420346]
 [4755.43566089]
 [4180.69221644]
 [3858.98700974]
 [3193.2338319 ]
 [4268.32682323]
 [4860.29665023]
 [4650.55019663]
 [3899.07808877]
 [3977.25204356]
 [3626.05851526]
 [4879.79417596]
 [3323.22197397]
 [4902.09682865]
 [4085.74537658]
 [3999.46322351]
 [5512.12901402]
 [3252.94007167]
 [4780.74937948]
 [3664.97966704]
 [4094.48529162]
 [3442.57769648]
 [4758.45734509]
 [3176.86883929]
 [4883.98386814]
 [4659.40193031]
 [5409.8565944 ]
 [3282.19427365]
 [3405.4369151 ]
 [4817.4494067 ]
 [3425.91960687]
 [5727.74475196]
 [3403.17873785]
 [4842.1583115 ]
 [4712.94481903]
 [3315.63482285]
 [5662.99049225]
 [4116.35457012]
 [3830.21770842]
 [4787.31994556]
 [4045.7998346 ]
 [4110.53275108]
 [4118.79215277]
 [4216.36143254]
 [5464.2388524 ]
 [4080.77832082]
 [5323.55320163]
 [3519.27796096]
 [4813.67658763]
 [5381.97968431]
 [3490.20942154]]

In [29]:
pd.DataFrame({'body_mass_g ' : y_pred[:,0]}).to_csv('./yemoonsaBigdata/res/004000000.csv', index = False)