In [1]:
!git clone https://github.com/AnalyticsKnight/yemoonsaBigdata/

fatal: destination path 'yemoonsaBigdata' already exists and is not an empty directory.

1. 작업형 제1유형
- Iris 데이터 세트

In [1]:
import pandas as pd
data = pd.read_csv("./yemoonsaBigdata/datasets/Part2/iris.csv")

(1) Iris 데이터 세트에서 species 변수 값별로 petal_width 상위 25% 값을 구한 후, 가장 큰 값과 가장 작은 값 사이의 차이를 계산하시오.

In [2]:
print(data.groupby('species')['petal_width'].quantile([0.75]))

species
setosa      0.75    0.3
versicolor  0.75    1.5
virginica   0.75    2.3
Name: petal_width, dtype: float64

(2) Iris 데이터 세트에서 sepal_length 변수의 전체 값들을 중복 없이 리스트로 만든 후, 오름차순으로 정렬했을 때 리스트의 10번쨰에 오는 숫자를 계산하시오.

In [4]:
lst = data['sepal_length'].unique().tolist()
lst.sort()
print(lst[9])

5.2

(3) Iris 데이터세트를 sepal_width 변수 값으로 내림차순한 후 위에서부터 100개 행을 학습 데이터로 분리하고, 학습 데이터에서 sepal_width의 표준편차 값을 구한 후 50을 곱한 값을 계산하시오(최종 계산 값의 소수점 이하는 버린다.).

In [7]:
sorted_data = data.sort_values(by='sepal_width', ascending=False).reset_index(drop=True)
sorted_data_split = sorted_data.loc[0:99] # sorted_data.head(10)
print(int(sorted_data_split['sepal_width'].std()*50))

16

(4) Iris 데이터 세트에서 species 변수 값별로 petal_length 상위 10개 행(큰 값)의 평균값을 구한 후, 평균값의 합을 계산하시오(최종 계산 값의 소수점 이하는 반올림한다.).

In [9]:
data = data.sort_values(by=['species','petal_length'], ascending=[True,False])
data_top10 = data.groupby('species').head(10)
print(round(data_top10.groupby('species')['petal_length'].mean().sum()))

13

(5) Iris 데이터 세트에서 sepal_length 변수가 이상치를 가지는 데이터 행 수를 계산하시오(단, 이상치 범위는 (평군+2x표준편차) 이상이거나 (평균-2x표준편차) 이하이다.).

In [11]:
mean = data['sepal_length'].mean()
std = data['sepal_length'].std()
crt1 = mean + 2 * std
crt2 = mean - 2 * std
print(data[ (data['sepal_length'] >=crt1) | (data['sepal_length'] <= crt2)])

     sepal_length  sepal_width  petal_length  petal_width    species
118           7.7          2.6           6.9          2.3  virginica
117           7.7          3.8           6.7          2.2  virginica
122           7.7          2.8           6.7          2.0  virginica
105           7.6          3.0           6.6          2.1  virginica
131           7.9          3.8           6.4          2.0  virginica
135           7.7          3.0           6.1          2.3  virginica

- Wine 데이터 세트

In [12]:
import pandas as pd
data = pd.read_csv('./yemoonsaBigdata/datasets/Part2/wine.csv')

(1) Wine 데이터 세트에서 total_phenols 결측치를 제거하고 alcalinity_of_ash 변수의 결측치는 중앙값으로 대체한 후, alcalinity_of_ash 평균값을 계산하시오(최종 계산 값의 소수점 이하는 버린다.).

In [14]:
data_drop = data[data['total_phenols'].notnull()]
med = data['alcalinity_of_ash'].median()
data_drop.loc[data_drop['alcalinity_of_ash'].isnull(), 'alcalinity_of_ash'] = med
print(int(data_drop['alcalinity_of_ash'].mean()))

19

(2) Wine 데이터 세트에서 alcohol 값이 alcohol 평균 값 이상이고, color_intensity 값이 color_intensity 평균 값 이상인 데이터만 남겼을 때, 가장 많은 class 값을 구하시오.

In [16]:
mean_val1 = data['alcohol'].mean()
mean_val2 = data['color_intensity'].mean()

data_filtered = data[ (data['alcohol'] >=mean_val1) & (data['color_intensity'] >= mean_val2)]
print(data_filtered['class'].value_counts())

0    37
2    23
1     1
Name: class, dtype: int64

(3) Wine 데이터 세트에서 class 1에 해당하는 데이터의 ash 평균값과 wine 데이터 세트의 모든 결측치를 제거한 후의 ash 값의 평균값의 차이의 절댓값을 계산하시오(최종 계산 값의 소수점 아래 4번쨰 자리에서 반올림한다.).

In [17]:
print(data.head(1).T)

                                    0
alcohol                         14.23
malic_acid                       1.71
ash                              2.43
alcalinity_of_ash               15.60
magnesium                      127.00
total_phenols                    2.80
flavanoids                       3.06
nonflavanoid_phenols             0.28
proanthocyanins                  2.29
color_intensity                  5.64
hue                              1.04
od280/od315_of_diluted_wines     3.92
proline                       1065.00
class                            0.00

In [19]:
val1 = data[data['class'] ==1]['ash'].mean()
val2 = data.dropna()['ash'].mean()
print(round( abs(val1-val2),3 ))

0.12

(4) Wine 데이터 세트에서 alcohol 변수의 상위에서 20번째 값 alcohol을 오름차순 정렬했을 때 20번째에 위치한 값으로 상위 20개의 값을 변환한 후, proanthocyanins가 2이하인 데이터를 추출하여 alcohol의 평균값을 계산하시오(최종 계산 값의 소수점 아래 3번째 자리에서 반올림한다.).

In [21]:
data_sorted = data.sort_values(by='alcohol')
data_sorted.loc[0:19] = data_sorted.loc[19,'alcohol']
print( round(data_sorted[data_sorted['proanthocyanins'] <=2]['alcohol'].mean(),2) )

12.94

(5) Wine 데이터 세트에서 class 1에 해당하는 데이터의 proline 변수의 제 3사분위수와 제 1사분위수 차를 구하고, class 2에 해당하는 데이터의 proline 변수의 제 3사분위수와 제 1사분위수 차를 구하여 두 값의 차이의 절댓값을 계산하시오.

In [23]:
class1_q1, class1_q2 = data[data['class'] == 1]['proline'].quantile([0.25,0.75])
class2_q1, class2_q2 = data[data['class'] == 2]['proline'].quantile([0.25,0.75])
print(abs(abs(class1_q1-class1_q2)-abs(class2_q1-class2_q2)))

68.5